<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="X509.ThumbPrint" value="122356D6E5471A7E3C0F30D2E2E24CA25AD17037" />
    <add key="SampleDataSizeKB" value="8" />
    <add key="LoopCount" value="100000" />
    <add key="EncryptionCertificatePath" value="../../../../UnitTests/TestCertificates/hello.world.2048.net.cer"/>
    <add key="DecryptionCertificatePath" value="../../../../UnitTests/TestCertificates/hello.world.2048.net.pfx"/>
  </appSettings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  
</configuration>

<!--
  122356D6E5471A7E3C0F30D2E2E24CA25AD17037    2048bit
  7A89FF9299CDE8C690DB93CE1F128EA3BAD642AB    1024bit
-->