<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="X509.ThumbPrint" value="7A89FF9299CDE8C690DB93CE1F128EA3BAD642AB" />
    <add key="SampleDataSizeKB" value="8" />
    <add key="LoopCount" value="100000" />
  </appSettings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  
</configuration>